<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" contents="Gospel, Jesus, Christ, Church, Evangelism, Pilgrim Tabernacle, Wood Green">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    {% if page.title == "Sermons" %}
    <script type="text/javascript" src="/assets/js/frontend.js"></script>
    {% endif %}
</head>
<!--fixme: sort out popper.js.map and bootstrap.js.map errors appearing in terminal-->