<!-- The header consists of the navigation bar -->
<header class="header">
    <nav class="navbar navbar-expand-sm navbar-light bg-white py-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="main-nav">
            <ul class="navbar-nav">
                <!--todo: consider rewriting the following lines as a for loop-->
                <li class="nav-item px-2"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item px-2"><a class="nav-link" href="/about">About Us</a></li>
                <li class="nav-item px-2"><a class="nav-link" href="/sermons">Sermons</a></li>
                <li class="nav-item px-2"><a class="nav-link" href="/location">Location</a></li>
                <li class="nav-item px-2"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>